body {
    --delab_radius_1: 32px;
    --delab_radius_2: 24px;
    --delab_radius_3: 18px;
    --delab_radius_4: 13.5px;
}

[scheme=space_gray] {
    --de_lab_background: rgba(0, 0, 0, 1);
    --de_lab_color: #fff;
    --de_lab_background_opacity: rgb(20 20 20);
    --de_lab_background_hover: rgb(39,42,42);
    --de_lab_background_hover_opacity: rgb(39,42,42, 0.5);
    --de_lab_color_white: #fff;
}
[scheme=bright_light] {
    --de_lab_background: rgba(255, 255, 255, 1);
    --de_lab_color: #000;
    --de_lab_background_opacity: rgba(255, 255, 255);
    --de_lab_background_hover: rgb(200, 200, 200);
    --de_lab_background_hover_opacity: rgb(200, 200, 200, 0.5);
    --de_lab_color_white: #fff;
}
.delab-modal-root {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* z-index: -1; */
    background-color: transparent;
    /* backdrop-filter: blur(0); */
    transition: z-index, backdrop-filter, background-color 0.2s cubic-bezier(0, 0, 0.09, 1.9);
    transition-delay: 0.1s;
}

.delab-modal-block {
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 180px);
    border-radius: var(--delab_radius_1)!important;
    padding: 8px 18px 18px;

    background: var(--de_lab_background_opacity);
    /* backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px ); */
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );

    width: 360px;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);

    transition: transform 0.2s cubic-bezier(0, 0, 0.09, 1.1);
    /* transform: scale(0.96); */
}

.delab-modal-block:hover {
    transform: scale(1);
}

.delab-modal-block * {
    color:  var(--de_lab_color)!important;
}

.delab-modal-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delab-modal-header * {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.delab-modal-header-left.delab-disable{
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.delab-modal-header-left:not(.delab-disable) {
    cursor: pointer;
    transition: all .2s;
    padding: 10px;
    opacity: 1!important;
    box-sizing: border-box;
    border-radius: var(--delab_radius_4);
}

.delab-modal-header-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delab-modal-header-right {
    cursor: pointer;
    transition: all .2s;
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--delab_radius_4);
    
}

.delab-modal-header-right:hover,
.delab-modal-header-left:not(.delab-disable):hover {
    background-color: var(--de_lab_background_opacity);
}

.delab-modal-text-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 16px;
}

.delab-modal-text-icon .Icon {
    margin-right: 0px;
}

.delab-modal-content {
    margin-top: 10px;
    margin-bottom: 10px;

    /* display: flex; */
}

.delab-modal-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin: 20px 0px 16px 0px;
    /* width: 50%; */
}

.delab-modal-horizontal-block {
    padding: 5px 10px;
    border-radius: var(--delab_radius_3);

    display: flex;
    align-items: center;
    justify-content: start;
    /* flex-direction: column; */
    box-sizing: border-box;

    width: 100%;
    height: 75px;

    cursor: pointer;

    /* background-color: transparent; */
    background-color: var(--de_lab_background_hover_opacity);

    transition: background-color .2s;
    margin-bottom: 16px;
}

.delab-modal-horizontal-block:hover {
    background-color: var(--de_lab_background_hover);
}

.delab-modal-horizontal-block.delab-disalbe {
    opacity: 0.5!important;
    cursor: default;
}

.delab-modal-horizontal-block .delab-icon {
    border-radius: var(--delab_radius_3);
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 2px;
    margin-right: 16px;
}

.delab-modal-horizontal-block .delab-icon img {
    width: 60px;
    height: 60px;
    border-radius: var(--delab_radius_3);
    position: absolute;
    top: 0;
}

.delab-modal-horizontal-block span {
    font-size: 17px;
    opacity: .8;
    font-weight: 600;
}

.delab-modal-horizontal-block:hover img {
    transition: all 0.2s cubic-bezier(0, 0, 0.09, 1.4);
    animation: img1 0.2s 1 ease-in-out;
}

.delab-center-block {
    margin: 18px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delab_lern {
    color: var(--de_lab_background)!important;
    text-decoration: none;
    padding: 6px 16px;
    box-sizing: border-box;
    border-radius: var(--delab_radius_4);
    background-color: var(--de_lab_color);
    font-size: 13px;
}

.delab-center-block2 {
    margin: 1px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: calc(400px - 90px);
    height: 100%;
}

.delab-button {
    color: var(--de_lab_background)!important;
    text-decoration: none!important;
    font-size: 14px;
}
.delab-button-large {
    width: 100%;
    padding: 16px;
}

.qr-delab {
    min-width: 260px;
    min-height: 260px;
}



.delab-modal-root *:not(.vkuiButton, .vkuiButton__content) {
    /* color: var(--de_lab_color); */
}

.delab-modal-root .vkuiButton__content {
    color: var(--de_lab_background)
}
.delab-modal-root .Avatar {
    color: transparent;
}

.delab-modal-root .vkuiModalRoot__mask {
    background-color: transparent;
}

.delab-modal-root .ModalPage__in-wrap {
    transition: transform 0.2s cubic-bezier(0, 0, 0.09, 1.1);
    transform: scale(0.96);
}

.delab-modal-root .ModalPage__in-wrap:hover {
    transform: scale(1);
}

.delab-modal-root .ModalPage__in {
    min-height: 434px;
    max-height: 454px;
}

.delab-modal-root .vkuiPanelHeader__before {
    padding-right: 1px;
}

.delab-modal-root-active {
    display: block;
    z-index: 10000;
    /* backdrop-filter: blur(5px); */
    transition-delay: 0s;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.delab-modal-root-active {
    background-color: rgba(0, 0, 0, 0.35)!important;
}
.delab-modal-root-active .ModalPage__in-wrap {
    /* transform: scale(1); */
    transition: transform 0.2s cubic-bezier(0, 0, 0.09, 1.4);
}


@keyframes img1 {
    0% {
        position: absolute;
        top: 0px;
    }

    50% {
        position: absolute;
        top: -5px;
    }
  
    100% {
        position: absolute;
        top: 0px;
    }
  }

.delab-modal-root .vkuiHorizontalCell:hover .Avatar img {
    transition: all 0.2s cubic-bezier(0, 0, 0.09, 1.4);
    position: absolute;
    animation: img1 0.2s 1 ease-in-out;
}

.delab-modal-root .vkuiHorizontalScroll {
    margin-bottom: 20px;
}

.delab-modal-root .vkuiHorizontalCell__body {
    padding-top: 5px;
}

.delab-modal-root .vkuiHorizontalCell__body[disabled] {
    opacity: 0.5;
}

.delab-modal-root .vkuiModalPage--s .Avatar {
    border-radius: 20px!important;
}


.delab-modal-root .vkuiModalPage__in {
    border-radius: 30px!important;
    opacity: 1!important;

    background: var(--de_lab_background_opacity);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );

}

body::after {
    opacity: 0!important;
 }

.delab-modal-root .vkuiPanelHeader--ios.vkuiPanelHeader--no-after .vkuiPanelHeader__content>* {
    display: flex;
    align-items: center;
}

.delab-modal-root .vkuiModalPage--s .vkuiModalPage__in-wrap {
    max-width: 360px!important;
}

.delab-modal-root .vkuiHorizontalCell__body {
    width: 110px;
    border-radius: 20px!important;
}

.delab-modal-root .vkuiSubhead--sizeY-compact {
    text-align: center;
}


.delab-modal-root .vkuiButton {
    background-color:  var(--de_lab_color)!important;
}
.delab-modal-root .vkuiIconButton {
    color:  var(--de_lab_color)!important;
}

.delab_text {
    font-size: 15px!important;
    opacity: 0.6!important;
}
.delab_text  * {
    font-size: 15px!important;
    font-weight: 300!important;
}

.delab_text .Icon {
    padding-right: 4px;
}

.delab-logo {
    width: 20px;
    margin-right: 2px;
}
.delab-logo2 {
    margin-right: 10px;
}

.delab-button {
    max-height: 44px;
    background-color: var(--de_lab_color)!important;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
}

.delab-button:hover {
    box-shadow: 1px 1px 20px rgba(39, 39, 39, 0.2);
}

.delab-button span {
    color: var(--de_lab_background);
}
.delab-button img {
    margin-right: 8px;
}

.delab-modal-root .vkuiModalPage__content-in,
.delab-modal-root .vkuiModalPage__content-in > div,
.delab-modal-root .vkuiModalPage__content-in > div > div {
    height: 100%;
}

.qr-delab {
    border-radius: 20px;
    background-color: #fff;
    padding: 15px;
}

.qr-delab > div {
    height: 260px;
    image-rendering: pixelated;
}

.qr-delab svg image {
    clip-path: inset(0% round 15px)
}

@media (max-width: 660px) {
    .vkuiModalPage__in-wrap,
    .vkuiModalPage--s .vkuiModalPage__in-wrap,
    .delab-modal-root-active .ModalPage__in-wrap {
        max-width: none!important;
    }

    .delab-modal-root .vkuiModalPage--s .vkuiModalPage__in-wrap {
        max-width: none!important;
    }
    .delab-modal-root .vkuiModalRoot__viewport {
        height: 500px;
    }

    .delab-modal-root h5 {
        text-align: center;
    }

    .delab-modal-root .vkuiPanelHeader__content-in {
        display: flex;
        align-items: center;
    }

    .delab-modal-block {
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        top: auto;
        left: auto;
        position: fixed;
        /* padding-bottom: var(--safe-area-inset-bottom)!important; */
        bottom: calc(var(--safe-area-inset-bottom) - 1px)!important;
        /* bottom */
        transform: scale(1)!important;
        border-bottom-left-radius: 0px!important;
        border-bottom-right-radius: 0px!important;
        width: 100%;
        overflow: hidden;
    }
}
