
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    margin: 0!important;
    padding: 0!important;
}


body * {
    font-family: 'Inter', sans-serif;
}
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

*:not(input, textarea){ user-select:none; }

.vkuiRichCell--text-ellipsis .vkuiRichCell__caption, 
.vkuiRichCell--text-ellipsis .vkuiRichCell__children, 
.vkuiRichCell--text-ellipsis .vkuiRichCell__subhead, 
.vkuiRichCell--text-ellipsis .vkuiRichCell__text,
.Subhead {
    white-space: break-spaces!important;
}


