name: Example React App

on:
  push:
    branches: [ main ]

defaults:
    run:
      shell: bash
      working-directory: example

jobs:
  build:
    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        node-version: [16.x]
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
  
    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/yarn-lock.json') }}
        
    - name: Install yarn
      run: npm install -g yarn
   
    - name: Install dependencies
      run: yarn install
      
    - name: Build
      run: yarn run build
      
    - name: Deploy
      run: |
        git config --global user.name $user_name
        git config --global user.email $user_email
        git remote set-url origin https://${github_token}@github.com/${repository}
        yarn run deploy
      env:
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        repository: ${{ github.repository }}
